<h1>Do Better. Adopt. Don't Shop.</h1>

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>TBD</h2>
      <p>this section says xyz</p>
      <h3>Links to readme headers</h3>
      <p>tbd if needed</p>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active readme header 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">readme header 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>About this project</h2>
      <h5>Do Better. Adopt. Don't Shop. September 2021</h5>
      <p>This project is about xyz</p>
      <br>
    </div>
  </div>
</div>

<!-- end of add from w3schools -->
